<!DOCTYPE html>
<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths" style="overflow: hidden;">
    <head>
        <title>艾可动潮牌服饰</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="艾可动服饰">
        <meta name="description" content="艾可动潮牌服饰——国潮品牌，值得信赖；专业定制，匠心营造。文化创造品牌，活出你自己。">
        <meta name="keywords" content="艾可动服饰，艾可动潮牌，艾可动潮牌服饰，国潮。艾可动潮牌服饰——国潮品牌，活出你自己。icdong">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/animate.css">
        <link rel="stylesheet" href="../css/owl.carousel.css">
        <link rel="stylesheet" href="../css/component.css">
        <link rel="stylesheet" href="../css/slit-slider.css">
        <link rel="stylesheet" href="../css/main.css">

    </head>
    <body id="body" style="">

        <div id="loading-mask" style="display: none;">
            <div class="loading-img">
                <img alt="Meghna Preloader" src="../image/preloader.gif">
            </div>
        </div>

        <!-- 导航 -->
        <header id="navigation" class="navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">艾可动</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">
                        <h1 id="logo"><img src="../image/logo-meghna.png" alt="Meghna"></h1>
                    </a>
                </div>

                <nav class="collapse navbar-collapse navbar-right" role="Navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="../index.html#about">艾可动</a></li>
                        <li><a href="../index.html#shopmall">品牌商城</a></li>
                        <li><a href="../index.html#showcase">定制案例</a></li>
                        <li><a href="../index.html#our-team">业务范围</a></li>
                        <li><a href="../index.html#contact-us">关于我们</a></li>
                        <li><a href="#vip-service">会员服务</a></li>
                    </ul>
                </nav>
            </div>
            <div class="colorbar"></div>
        </header>


        <section class="vip_servers">
            <div class="container">
                <div class="row">
                    <p>查询VIP账户积分</p>
                    <div class="contact-form wow" style="visibility: hidden; animation-duration: 500ms; animation-delay: 300ms; animation-name: none;">
                        <form id="contact-form">
                            <div class="form-group">
                                <label>会员账号：</label>
                                <input type="text" placeholder="请输入手机号" class="form-control" name="name" id="name">
                            </div>
                            <div id="cf-submit">
                                <input type="button" id="contact-submit" class="btn btn-transparent" value="查询">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section id="vip_ok_tips" class="vip_servers" style="display: none;">
            <div class="container">
                <div class="row">
                    <p>尊敬的<span id="vip_name"></span>，您于<span id="vip_date"></span>成为艾可动第<span id="vip_id"></span>位终身会员</p>
                    <div class="contact-form wow" style="visibility: hidden; animation-duration: 500ms; animation-delay: 300ms; animation-name: none;">
                        <div>
                            <p>积分余额：<span id="vip_score" style="font-size: 24px;"></span>分</p>
                        </div>
                        <div>
                            <div class="text">积分累计规则：</div>
                            <div class="text">消费1元 = 1积分</div>
                            <div class="text">积分兑换规则：</div>
                            <div class="text">100积分 = 10元人民币</div>
                            <div class="text">满100积分即可兑换10元现金返现或等价值优惠券</div>
                            <div class="text">兑换方式：</div>
                            <div class="text">1、联系淘宝店铺“艾可动潮牌服饰”旺旺客服</div>
                            <div class="text">2、添加客服微信17596550096</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="vip_no_tips" class="vip_servers" style="display: none;">
            <div class="container">
                <div class="row">
                    <p>输入有误，请检查您输入账号。</p>
                </div>
            </div>
        </section>

        <!-- 底部 -->
        <footer id="footer">
            <div class="container">
                <div class="row wow fadeInUp" style="visibility: hidden; animation-duration: 500ms; animation-name: none;">
                    <div class="col-lg-12">
                        <div class="social-icon">
                            <ul>
                                <li><a href="https://www.evisu.com/" title="evisu"><i class="evisu"></i></a></li>
                                <li><a href="https://lee.com.cn/" title="lee"><i class="lee"></i></a></li>
                                <li><a href="http://cn.puma.com/" title="puma"><i class="puma"></i></a></li>
                                <li><a href="https://www.adidas.com.cn" title="adidas"><i class="adidas"></i></a></li>
                                <li><a href="https://www.supremenewyork.com/" title="supreme"><i class="supreme"></i></a></li>
                                <li><a href="https://www.nike.com/cn/zh_cn/" title="nike"><i class="nike"></i></a></li>
                                <li><a href="https://www.stussy.com/" title="stussy"><i class="stussy"></i></a></li>
                                <li><a href="https://vans.com.cn/" title="vans"><i class="vans"></i></a></li>
                                <li><a href="https://www.levi.com.cn" title="levi's"><i class="levi"></i></a></li>
                            </ul>
                        </div>

                        <div class="copyright text-center">
                            <a href="javascript:void(0);">
                                <img src="../image/logo-meghna.png" alt="Meghna">
                            </a>
                            <br>
                            <p><a href="http://www.miitbeian.gov.cn/" target="_blank" title="ICP：豫ICP备16033729号-1" >ICP：豫ICP备16033729号-1</a>&nbsp;Copyright 2015. All Rights Reserved.</p>
                        </div>

                    </div>
                </div>
            </div>
        </footer>

        <a href="javascript:;" id="scrollUp">
            <i class="fa fa-angle-up fa-2x"></i>
        </a>

        <div id="ascrail2000" class="nicescroll-rails"
            style="width: 8px; z-index: 9999; cursor: default; position: fixed; top: 0px; height: 100%; right: 0px; opacity: 0;">
            <div style="position: relative; top: 0px; float: right; width: 8px; height: 150px; background-color: rgb(108, 182, 112); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
        </div>
        <div id="ascrail2000-hr" class="nicescroll-rails" style="height: 8px; z-index: 9999; position: fixed; left: 0px; width: 100%; bottom: 0px; cursor: default; display: none; opacity: 0;">
            <div style="position: relative; top: 0px; height: 8px; width: 150px; background-color: rgb(108, 182, 112); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
        </div>

        <script src="../js/libs/jquery/jquery.min.js"></script>
        <script src="../js/libs/bootstrap.min.js"></script>
        <script src="../js/libs/jquery/jquery.nicescroll.min.js"></script>
        <script src="../js/libs/wow.min.js"></script>
        <script src="../js/libs/jquery/jquery.fitvids.js"></script>
        <script src="../js/custom.js"></script>
        <script src="./vip-service.js"></script>

    </body>
</html>
